<header class="header">
    <div class="logo-div">
        <h1 class="logo" [routerLink]="'/main-page'">Momentum</h1>
        <img src="../../../assets/Hourglass@3x.png" alt="">
    </div>
    <div class="button-container">
        <button class="btn-outline" (click)="openEmployee()">თანამშრომლის შექმნა</button>
        <button class="btn-filled" [routerLink]="'/create-assignment'">+ შექმენი ახალი დავალება </button>
    </div>
</header>

<!-- თანამშრომლის ქარდი, რომელიც ჩნდება ღილაკზე დაჭერისას -->
<app-create-an-employee 
    *ngIf="openEmployeeCard" 
    (closeCard)="closeEmployeeCard()">
</app-create-an-employee>

<!-- დავალების ქარდი -->

