<div class="card-container">
    <div class="card">
      <div *ngFor="let department of departments">
        <label class="checkbox-label" [style.border-left]="getDepartmentColor(department.id)">
          <input type="checkbox"
                 [value]="department.id"
                 (change)="onDepartmentSelect(department.id)"
                 [ngStyle]="{'border-color': getDepartmentColor(department.id)}" 
                 class="department-checkbox">
          <span class="department-name">{{ department.name }}</span>
        </label>
      </div>
      <div style="width: 628px; display: flex; justify-content: right;">
       <button class="submit-button">არჩევა</button>
      </div>
    </div>
  </div>
  