<form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
  <h1>შექმენი ახალი დავალება</h1>
  <div class="form-div">
    <div class="top">
      <!-- Title -->
      <div>
        <h6>სათაური*</h6>
        <input type="text" class="custom-input" formControlName="title" />
        <div class="validation-divs" *ngIf="assignmentForm.get('title')?.invalid && assignmentForm.get('title')?.touched">
          <span *ngIf="assignmentForm.get('title')?.errors?.['required']">სათაური სავალდებულოა</span>
          <span *ngIf="assignmentForm.get('title')?.errors?.['minlength']">მინიმუმ 3 სიმბოლო</span>
          <span *ngIf="assignmentForm.get('title')?.errors?.['maxlength']">მაქსიმუმ 255 სიმბოლო</span>
        </div>
      </div>

      <!-- Department -->
      <div>
        <h6>დეპარტამენტი*</h6>
        <select class="form-select custom-select" formControlName="department" (change)="onDepartmentChange($event)">
          <option value="" disabled selected>აირჩიე დეპარტამენტი</option>
          <option *ngFor="let department of departments" [value]="department.id">
            {{ department.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="middle">
      <!-- Description -->
      <div>
        <h6>აღწერა</h6>
        <textarea class="custom-textarea" formControlName="description"></textarea>
        <div class="validation-divs" *ngIf="assignmentForm.get('description')?.invalid && assignmentForm.get('description')?.touched">
          <span *ngIf="assignmentForm.get('description')?.errors?.['minWords']">მინიმუმ 4 სიტყვა</span>
          <span *ngIf="assignmentForm.get('description')?.errors?.['maxlength']">მაქსიმუმ 255 სიმბოლო</span>
        </div>
      </div>

      <!-- Responsible Employee -->
      <div *ngIf="selectedDepartment && employees.length">
        <h6>პასუხისმგებელი თანამშრომელი*</h6>
        <select class="form-select custom-select" formControlName="responsibleEmployee">
          <option value="" disabled selected>აირჩიე თანამშრომელი</option>
          <option *ngFor="let employee of employees" [value]="employee.id">
            {{ employee.name }} {{ employee.surname }}
          </option>
        </select>
      </div>
    </div>

    <div class="bottom">
      <div class="left-cont">
        <!-- Priority -->
        <h6>პრიორიტეტი*</h6>
        <select class="form-select custom-select-small" formControlName="priority">
          <option value="" disabled selected>აირჩიე პრიორიტეტი</option>
          <option *ngFor="let priority of priorities" [value]="priority.id">
            {{ priority.name }}
          </option>
        </select>

        <!-- Status -->
        <h6>სტატუსი*</h6>
        <select class="form-select custom-select-small" formControlName="status">
          <option value="" disabled selected>აირჩიეთ სტატუსი</option>
          <option *ngFor="let status of statuses" [value]="status.id">{{ status.name }}</option>
        </select>
      </div>

      <!-- Deadline -->
      <div class="right-cont">
        <h6>დედლაინი</h6>
        <input type="date" formControlName="deadline" [min]="tomorrowDate" />
      </div>
    </div>

    <!-- Submit Button -->
    <div class="submit-button">
      <button type="submit" class="custom-button-submit" [disabled]="assignmentForm.invalid">დავალების შექმნა</button>
    </div>
  </div>
</form>
