<div class="card-container">
    <div class="card">
      <div *ngFor="let employee of employees">
        <label class="checkbox-label">
          <input 
            type="checkbox" 
            [value]="employee.id" 
            (change)="onEmployeeSelect(employee.id)" 
            class="employee-checkbox">
          <span class="employee-name">{{ employee.name }}</span>
        </label>
      </div>
      <div style="width: 628px; display: flex; justify-content: right;">
        <button class="submit-button" type="button" (click)="onSubmit()">არჩევა</button>
      </div>
    </div>
  </div>
  

